<h3>Sign Up</h3>

<form method="post" action="/signup">
  <div class="row">
    <div class="medium-6 columns">
      <label>Username
        <input type="text" placeholder="username">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Password
        <input type="password" placeholder="password">
      </label>
    </div>
  </div>
  <div class="row">
    <input type="submit" class="button" value="Sign Up">
  </div>
</form>
